/* You can add global styles to this file, and also import other style files */

body{
    background-color: #f7f7f7;
    /* color: #FFFFF0; */
    font-family: "Source Serif Pro", serif;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

.card {
    padding: 10px; 
    background-color: #606470; 
    border-radius: 10px; 
    padding: 30px; 
    color: white;
}

.articleUrl {
    color: black;
}

.articleUrl:hover {
    color: #FF7A00;
}

a:hover {
    color: #FF7A00;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat',sans-serif;
}

pre {
    white-space: pre-wrap; 
    word-break: break-word;
}


@media only screen and (max-width: 600px) {
    body{
        font-size: medium;
    }
}